// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

body
  background: url('/tiny_grid.png') repeat scroll 0 0 transparent

.variable:hover,
.usecase:hover
  cursor: pointer

.bordered
  border 1px dashed #eee
